// imports

@import '_vars';
@import 'modules/_header';

/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

h1 { font-size: 80pt; }
h2 { font-size: 60pt; }
h3 { font-size: 36pt; }
h4 { font-size: 24pt; }
h5 { font-size: 20pt; }
h6 { font-size: 18pt; }


